
<div class="page-wrapper container-fluid">
  <div class="page-breadcrumb">

          <div id="urunsil" className="row shadow">
            <h5 class="text-center  btn-outline-primary d-flex align-items-center justify-content-center">ÜRÜN SİL</h5>
            <main role="main" className="col bg-white mt-3 p-3">
              <table class="table">
                <caption>Ürün Listesi</caption>
                <thead>
                  <tr>

                    <th scope="col-sm-1">Başlık</th>
                    <th scope="col-sm-1">İçerik</th>
                    <th scope="col-sm-1">Proje Tipi</th>
                    <th scope="col-sm-1">Proje Yeri</th>
                    <th scope="col-sm-1">Müşteri</th>
                    <th scope="col-sm-1">Resim 1</th>
                    <th scope="col-sm-1">Resim 2</th>
                    <th scope="col-sm-1">Resim 3</th>
                    <th scope="col-sm-1">Resim 4</th>
                    <th scope="col-sm-1">Resim 5</th>
                    <th scope="col-sm-1">Resim 6</th>
                  </tr>
                </thead>



                <% for(var i=0 ; i<data.length; i++) {%>
                  <form action="<%=api_sil%>" method="POST">

                <tbody>

                      <tr>

                        <td ><%=data[i].title %></td>
                        <td  ><%=data[i].content %></td>
                        <td ><%=data[i].projeTipi %></td>
                        <td ><%=data[i].projeYeri %></td>
                        <td ><%=data[i].musteri %></td>
                        <td style="max-width: 15px;" class="overflow-auto"><%=data[i].resimler.bir %></td>
                        <td style="max-width: 15px" class="overflow-auto"><%=data[i].resimler.iki %></td>
                        <td style="max-width: 15px" class="overflow-auto"><%=data[i].resimler.uc %></td>
                        <td style="max-width: 15px" class="overflow-auto"><%=data[i].resimler.dort %></td>
                        <td style="max-width: 15px" class="overflow-auto"><%=data[i].resimler.bes %></td>
                        <td style="max-width: 15px" class="overflow-auto"><%=data[i].resimler.alti %></td>
                        <td>
                          <div>
                            <input class="d-none" type="text" name="resim1" value="<%=data[i].resimler.bir %>">
                            <input class="d-none" type="text" name="resim2" value="<%=data[i].resimler.iki %>">
                            <input class="d-none" type="text" name="resim3" value="<%=data[i].resimler.uc %>">
                            <input class="d-none" type="text" name="resim4" value="<%=data[i].resimler.dort %>">
                            <input class="d-none" type="text" name="resim5" value="<%=data[i].resimler.bes %>">
                            <input class="d-none" type="text" name="resim6" value="<%=data[i].resimler.alti %>">
                           <button
                           value="<%=data[i]._id %>"
                           name="id"
                             type="submit"
                             class="btn btn-danger "
                           >
                             Sil
                           </button>
                          </div>
                        </td>
                      </tr>
                       <tr></tr>


                      </tbody>







              </form>

                <% } %>

              </table>

            </main>

          </div>
        </div>
      </div>
    </div>
  </div>
