<section id="projeler" class="plans bg-secondary">
  <div class="section-header">
    <h2>Projeler</h2>
  </div>

  <div class="tab-content" id="pills-plan">
    <div class="tab-pane fade show active" id="pills-apartman-plan" role="tabpanel">
      <div class="row g-3">
        <% data.forEach(function(item){ %>
          <div style="max-width: 200px" class="
            col-sm-4
            shadow
            rounded
            border
            d-flex
            flex-wrap
            align-items-center
            justify-content-center
            py-2
            px-2
            my-2
            mx-4
          ">
            <!-- Button trigger modal -->

            <button type="button" data-bs-toggle="modal" data-bs-target="#deneme">
              <div class="
                d-flex
                flex-column
                align-items-center
                justify-content-center
                hepsi
              " data-title="<%=item.title%>" data-description="<%=item.content%>" data-musteri="<%=item.musteri%>"
                data-projeyeri="<%=item.projeYeri%>" data-projetipi="<%=item.projeTipi%>"
                data-resim1="<%=item.resimler.bir%>" data-resim2="<%=item.resimler.iki%>"
                data-resim3="<%=item.resimler.uc%>" data-resim4="<%=item.resimler.dort%>"
                data-resim5="<%=item.resimler.bes%>" data-resim6="<%=item.resimler.alti%>">
                <img src="<%=item.resimler.bir%>" alt="Rolling Roof" class="rounded shadow firstpicture"
                  style="max-height: 200px; max-width: 150px" />
                <div class="my-2 h5 w-75">
                  <%=item.title%>
                </div>
              </div>
            </button>
          </div>
          <!-- Modal -->
          <% }) %>
            <div class="modal fade" id="deneme" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="max-height: 100%">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div id="project" class="modal-body d-flex align-items-center">
                    <div class="">
                      <div class="row">
                        <div class="
                        col-md-4
                        d-flex
                        justify-content-center
                        align-items-center
                      ">
                          <img src="1" alt="Bioclimatic Pergola" class="büyükresim img-thumbnail" id="on" />
                        </div>

                        <div class="col-md-4 pt">
                          <div class="col-sm-12">
                            <strong id="title" class="text-center d-flex justify-content-center">
                            </strong>
                            <p class="mt-5 icerik-yazi">
                              İÇERİK :
                              <span class="text-dark mx-3" id="content"></span>
                            </p>

                            <p class="mt-3 icerik-yazi">
                              PROJE YERİ:
                              <span class="text-dark mx-3" id="projeyeri"> </span>
                            </p>

                            <p class="mt-3 icerik-yazi">
                              PROJE TİPİ:
                              <span class="text-dark mx-3" id="projetipi"></span>
                            </p>

                            <p class="mt-3 icerik-yazi">
                              MÜŞTERİ:
                              <span class="h5 text-dark mx-3" id="musteri"></span>
                            </p>



                            <div class="col-sm-12">
                              <P class="my-3">PROJELENDİRME</P>
                              <div class="rating">
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                              </div>
                              <P class="my-3">UYGULAMA </P>
                              <div class="rating">
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                              </div>
                              <P class="my-3">PROJE TAMAMLANDI </P>
                              <div class="rating">
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                                <i class="rating__star fas fa-star"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-center">
                          <div class="col-sm-12">
                            <h3 class="text-center">İLGİLİ GÖRSELLER</h3>
                          </div>

                          <div class="col-sm-4">
                            <div class="
                            d-flex
                            align-items-center
                            justify-content-center
                            p-2
                          ">
                              <img height="100%" width="100%" class="rounded resim1" src="1" alt="" id="onbir" />
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="
                            d-flex
                            align-items-center
                            justify-content-center
                            p-2
                          ">
                              <img height="100%" width="100%" class="rounded resim2" id="oniki" src="2" alt="" />
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="
                            d-flex
                            align-items-center
                            justify-content-center
                            p-2
                          ">
                              <img height="100%" width="100%" class="rounded resim3" id="onuc" src="3" alt="" />
                            </div>
                          </div>

                          <div class="col-sm-4">
                            <div class="
                            d-flex
                            align-items-center
                            justify-content-center
                            p-2
                          ">
                              <img height="100%" width="100%" class="rounded resim4" id="ondort" src="4" alt="" />
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="
                            d-flex
                            align-items-center
                            justify-content-center
                            p-2
                          ">
                              <img height="100%" width="100%" class="rounded resim5" id="onbes" src="5" alt="" />
                            </div>
                          </div>

                          <div class="col-sm-4">
                            <div class="
                            d-flex
                            align-items-center
                            justify-content-center
                            p-2
                          ">
                              <img height="100%" width="100%" class="rounded resim6" id="onalti" src="6" alt="" />
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<script>
  var butonresim = document.querySelectorAll(".hepsi");

  butonresim.forEach((element) => {
    // var resim1 = element.dataset.resim1;
    // var resim2 = element.dataset.resim2;
    // var resim3 = element.dataset.resim3;
    // var resim4 = element.dataset.resim4;
    // var resim5 = element.dataset.resim5;
    // var resim6 = element.dataset.resim6;

    var title = element.dataset.title;
    var description = element.dataset.description;
    var musteri = element.dataset.musteri;
    var projeyeri = element.dataset.projeyeri;
    var projetipi = element.dataset.projetipi;

    element.addEventListener("click", (e) => {
      var baslik = document.querySelector("#title");
      var content = document.querySelector("#content");
      var costumer = document.querySelector("#musteri");
      var place = document.querySelector("#projeyeri");
      var projetype = document.querySelector("#projetipi");
      baslik.innerHTML = title;
      content.innerHTML = description;
      costumer.innerHTML = musteri;
      place.innerHTML = projeyeri;
      projetype.innerHTML = projetipi;

      var resim0 = document.querySelector("#on");
      var resim1 = document.querySelector(".resim1");
      var resim2 = document.querySelector(".resim2");
      var resim3 = document.querySelector(".resim3");
      var resim4 = document.querySelector(".resim4");
      var resim5 = document.querySelector(".resim5");
      var resim6 = document.querySelector(".resim6");


      if (element.dataset.resim1 == "") {
        resim1.classList.add("d-none");
      }
      if (element.dataset.resim2 == "") {
        resim2.classList.add("d-none");
      }
      if (element.dataset.resim3 == "") {
        resim3.classList.add("d-none");
      }
      if (element.dataset.resim4 == "") {
        resim4.classList.add("d-none");
      }
      if (element.dataset.resim5 == "") {
        resim5.classList.add("d-none");
      }
      if (element.dataset.resim6 == "") {
        resim6.classList.add("d-none");
      }

      resim0.src = element.dataset.resim1;
      resim1.src = element.dataset.resim1;
      resim2.src = element.dataset.resim2;
      resim3.src = element.dataset.resim3;
      resim4.src = element.dataset.resim4;
      resim5.src = element.dataset.resim5;
      resim6.src = element.dataset.resim6;



    });
  });
  var on = document.getElementById("on");
  var onbir = document.getElementById("onbir");
  var oniki = document.getElementById("oniki");
  var onuc = document.getElementById("onuc");
  var ondort = document.getElementById("ondort");
  var onbes = document.getElementById("onbes");
  var onalti = document.getElementById("onalti");

  onbir.addEventListener("click", () => {
    on.src = onbir.src;
  });
  oniki.addEventListener("click", () => {
    on.src = oniki.src;
  });
  onuc.addEventListener("click", () => {
    on.src = onuc.src;
  });
  ondort.addEventListener("click", () => {
    on.src = ondort.src;
  });
  onbes.addEventListener("click", () => {
    on.src = onbes.src;
  });
  onalti.addEventListener("click", () => {
    on.src = onalti.src;
  });
</script>